<div class="list-wrapper">
  <div class="list">
    <ion-item>
      <ion-label position="floating">{{lang.new}}</ion-label>
      <ion-input (change)="change($event)" [value]="input"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="add()">{{lang.add}}</ion-button>
    
    <ion-list>
      <ion-item *ngFor="let item of todo.items">
        <ion-label>{{item.label}}</ion-label>
        <ion-badge slot="end" color="danger" (click)="remove(item.id)">{{lang.remove}}</ion-badge>
      </ion-item>
    </ion-list>
  </div>
</div>
